/*LARGE TABLETS to DESKTOPS: 1024-1200px*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 25px;
    }

    .social-links li:last-child {
        margin-right: 0px;
    }

    div#social-links {
        width: 30%;
    }

    div#footer-nav {
        width: 65%;
    }
}

/*SMALL TABLETS to LARGE TABLETS: 768-1023px*/
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }

    .long-copy {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .app-screen {
        width: 50%;
    }

    .work-step:last-of-type {
        margin-bottom: 50px;
    }

    .steps-box a.button-app img {
        width: auto;
        height: 40px;
    }

    div.city-features {
        font-size: 15px;
        margin-bottom: 5px;
    }

    div.city-features:last-child {
        margin-bottom: 0;
    }

    .plan-price {
        font-size: 180%;
    }

    .plan-box li {
        font-size: 13px;
    }

    a.btn.btn-full {
        font-size: 15px;
        margin: 0 auto;
    }

    footer {
        padding: 30px 20px 50px 20px;
    }

    footer.row {
        padding: 0 auto;
    }

    ul.footer-nav {
        font-size: 15px;
    }

    .social-links li:last-child {
        margin-right: 0px;
    }

    div#social-links {
        width: 30%;
    }

    div#footer-nav {
        width: 65%;
    }
}


/*SMALL PHONES to SMALL TABLETS: 481-767px*/
@media only screen and (max-width:767) {}

/*SMALL PHONES: 0-480px*/
@media only screen and (max-width:480) {}